@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    background: rgba(20, 58, 135, 0.8);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background: #fff;
}

header {
    padding: 20px;
    background: rgba(0, 13, 39);
    color: #fff;
}

header h1 {
    margin-bottom: 0;
}

nav {
    padding: 20px;
    background: rgb(162, 184, 232);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    background: #ffffff;
    min-height: 100px;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    text-decoration: none;
}

nav ul li .active, nav ul li a:hover {
    color: #000;
    background: #fff
}


aside {
    background: rgb(162, 184, 232);
    min-height: 100px;
    padding: 20px;
}

.top-10 ol {
    margin: 0;
    padding: 0 20px;
}

footer {
    padding: 20px;
    color: #fff;
    background: rgba(0, 13, 39);
}

.error {
    display: block;
    color: #ff0000;
    margin-top: 5px;
    font-size: 0.875em;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu em {
    font-style: normal;
    margin-right: 20px;
    display: inline-block;
}

.user-info {
    font-style: normal;
    color: #ffffff;
    margin-right: 20px;
}

.blog-article {
    display: flex;
}

.blog-article article {
    margin-bottom: 20px;
    background: #ededed;
    padding: 10px;
}

.corona-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.corona-stats__country {
    background: #5d89f1;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    color: #ffffff;
}

.corona-stats__country:hover {
    color: #ffffff;
    text-decoration: none;
    background: #224aa3;
}

.corona-stats__stat {
    background: #5d89f1;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
}

.corona-statuses {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.corona-statuses li {
    background: #333333;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
}

.corona-statuses li a,.corona-statuses li a:hover  {
    display: block;
    padding: 5px 10px;
    color: #fff;

}


.search-form {
    margin: 10px 0;
}

@media screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 350px;
    }
}