@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    background: rgba(20, 58, 135, 0.8);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background: #fff;
}

header {
    padding: 20px;
    background: rgba(0, 13, 39);
    color: #fff;
}

header h1 {
    margin-bottom: 0;
}

nav {
    padding: 20px;
    background: rgb(162, 184, 232);
    color: #fff;
}

.content {
    background: #ffffff;
    min-height: 100px;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    text-decoration: none;
}

nav ul li .active, nav ul li a:hover {
    color: #000;
    background: #fff
}


aside {
    background: rgb(162, 184, 232);
    min-height: 100px;
    padding: 20px;
}

.top-10 ol {
    margin: 0;
    padding: 0 20px;
}

footer {
    padding: 20px;
    color: #fff;
    background: rgba(0, 13, 39);
}

@media screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 350px;
    }
}