# Dit bestand zorgt ervoor dat de website ALLE requests doorstuurt naar de front controller
# Zo handelen we alles op één plek af.
#
# Met uitzondering van bestanden die wel echt bestaan

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ index.php?/$1
</IfModule>
   
