# Dit .htaccess bestand geeft instructies aan de webserver
# Het zorgt er voor dat de webserver directe toegang tot deze map niet toestaat
# Zo voorkom je dat mensen door je bestanden kunnen bladeren
Order allow,deny
Deny from all